---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import DemoRoadmap from '../components/DemoRoadmap.astro';
import ConceptWindows from '../components/ConceptWindows.astro';
import Tracks from '../components/Tracks.astro';
import Features from '../components/Features.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home" needsKatex>
  <Header />
  <main id="main-content">
    <Hero />
    <DemoRoadmap />
    <Tracks />
    <Features />
    <CTA />
  </main>
  <Footer />
  <ConceptWindows />
</Layout>
